.dropzone-hidden {
  display: none;
}

.auth-profile {
  display: table;
  width: 100%;
}

.auth-profile > div {
  width: 100%;
  text-align: center;
  display: table-cell !important;
  border-radius: 100% !important;
}

.auth-profile > div > p {
  font-size: 0.8rem;
  padding: 70px 10px 0 10px;
  vertical-align: middle;
  text-align: center;
}

.auth-profile-img {
  cursor: pointer;
}
